* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
}
.header-hero {
  background-image: url(../assest/poster2.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 36px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px black;
  border-radius: 0 0 80px 80px;
}
.topnav {
  overflow: hidden;
  display: flex;
}
.topnav a {
  float: left;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-left: 30px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  padding: 10px;
}
.topnav a.active {
  color: white;
}
.search {
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
  margin-bottom: 10px;
  float: right;
  display: flex;
}
.right-nav {
  margin-left: 900px;
}
/* cards */
.cards {
  display: flex;
}
.flip-card {
  margin-left: 95px;
  align-items: center;
  margin-top: 500px;
  background-color: transparent;
  width: 305px;
  height: 305px;
  border: 1px solid #fff;
  perspective: 1000px;
  border-radius: 50px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50px;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.director {
  margin-top: 50px;
  font-size: 50px;
}

.year {
  margin-top: 100px;
  font-size: 40px;
}
.score {
  margin-top: 100px;
  font-size: 40px;
}

/* mary */

.sectionactor {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_image {
  position: relative;
  height: 70px;
  width: 70px;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.container {
  height: 400px;
  max-width: 400px;
  display: flex;
  align-items: flex-end;
}
.icon_image img {
  position: absolute;
  height: 95%;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0a8a9b;
}

.hover_image {
  position: absolute;
  height: 350px;
  width: 300px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  z-index: 0;
  transition: transform 0.5s, z-ondex 0s, left 0.5s;
  transition-delay: 0s 0.5s, 0.5s;
  pointer-events: none;
}
.icon_image:hover .hover_image {
  left: -200px;
  z-index: 12;
  transform: translateX(80px);
  transition: left 0.5s, z-index, transform 0.5s;
  transition-delay: 0s, 0.5s, 0.5s;
}
.hover_image img {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid #fff;
  object-fit: cover;
  border-radius: 25px;
}
.content {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  padding: 0 10px;
}
.content:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}
.content .details {
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
}
.icon_image:hover .details {
  opacity: 1;
  transform: translateY(4px);
  transition: all 0.3s ease;
  transition-delay: 0.9s;
}
.content .details:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}
.details .name {
  font-size: 20px;
  font-weight: 500px;
}
.details .job {
  font-size: 17px;
  color: #0a8a9b;
  margin: -3px 0 5px 0;
}
.last .hover_image {
  transition: none;
}
.last:hover .hover_image {
  transition: none;
}
.last:hover .details {
  transition-delay: 0s;
}
/* mary */
footer {
  background-color: #111;
}
.footercontainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialicon {
  display: flex;
  justify-content: center;
}
.socialicon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialicon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialicon a:hover {
  background-color: #111;
  transition: o.5s;
}
.socialicon a:hover i {
  color: white;
  transition: 0.5s;
}
.footernav {
  margin: 10px 0;
}
.footernav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footernav ul li a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.footerbottom {
  color: white;
}
